* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar {
position:fixed;
    background-color:#4b5874;
    width: 250px;
    transition: transform 0.3s ease-in;
    height: 100vh;
}

.sidebar nav {
    padding: 45px 20px;


}

.sidebar nav li {
   padding:10px;
font-size:22px;
    list-style: none;   
         

font: bold;

}

.sidebar nav li a {
    text-decoration: none;
    color: white;
        font-family: 'Poppins', sans-serif;
        display: block;

}

.main {
    background-color:#929fb3;
   margin-left:0;
   width:100%;
    padding: 10px;
}

.container {
    
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-direction: row;

}

.infoContainer {
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}

.devInfo {
    
font-size:16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    flex: 1 1 300px;
    padding:20px;
}

.devPic img {
    height: auto;
    max-width:20vw;
    border-radius: 20px;
    margin: 20px;
}

.Hello {
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}

.name {
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.about {
    font-size:1.8em;
      font-family: 'Poppins', sans-serif;

}

.buttons {
    margin-top: 2.2em;
    font-size: 16px;
}

.moreabout {
    font-size: 1.5em;
    margin-top: 15px;
          font-family: 'Poppins', sans-serif;

}
.buttons{
    margin-top: 20px;
}
.btn{
    padding: 10px 20px;
    border-radius: 22px;
    border: none;
    color:white;
    background-color:dodgerblue;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    

}
.btn:hover{
     color:dodgerblue;
    background-color:white;
}
.btn-sn{
     font-size: 14px;
     padding:10px 19px;
     margin:12px 0;
}
.contactform{


padding: 0 34px;
margin:10px 88px;
  font-family: 'Poppins', sans-serif;

}
.contactform h1{
font-family: 'Roboto', sans-serif;
padding:12px 0;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
#emailHelp{
font-size:14px;
color: midnightblue;
margin:0 5px;
}
.contactform form div input{
    /*width:23vw;*/
    border-radius:5px;
    margin:4px;
    padding: 3px;
}

.contactform form{
    /*width:23vw;*/
    
    margin:0 40px;
    
}
#form-check{
    flex-direction: row;
}
#form-check input{
    width:24px;
    margin: 3px 0px;

}
.blogItem {
      margin:1px 88px;

       
}
.blogContainer{
    margin:88px;

}
h1{
    font-family: 'Roboto', sans-serif;
     margin: 20px 88px;
     font-size:1em;

}
h2{
    font-family: 'Roboto', sans-serif;

}
p{
     
  font-family: 'Poppins', sans-serif;
         margin:10px 88px;


}
.intro{
    margin:  88px;
}
.intro h1{
     font-family: 'Roboto', sans-serif;
     margin: -39px 1px;
     font-size: 1em;

}
.intro h3{
     font-family: 'Roboto', sans-serif;
     margin-top:-10px;

}
.intro li{
     font-family: 'Poppins', sans-serif;
     margin:12px;
     margin-left: 43px;

}
.intro p{
 font-family: 'Poppins', sans-serif;
      margin:39px;

}
.Educations{
    margin-top:5px;

}
a.Education{
    color: skyblue;
}


.Educations h3{
     font-family: 'Roboto', sans-serif;
     margin:-31px;

}
.Hobbies{
    margin-top:5px;
}
.Hobbies h3{
     font-family: 'Roboto', sans-serif;
     margin:11px -3px;

}



.skillContainer{

padding: 20px;
width:59%;
min-height: 100%;
box-sizing: border-box;

}
.skillgroup{
    margin-bottom: 30px;
}
.skillgroup h3{
    padding-bottom:5px;
    font-family: 'Roboto', sans-serif;
}
.skill{
    margin:10px 0;
}
 .bar{
    background-color:whitesmoke;
    height:10px;
    margin-top: 5px;
    margin-left: 150px;
    width:100%;
    max-width: 400px;
    overflow: hidden;
 }
 .bar-fill{
     background-color:darkslateblue;
    height:10px;
    margin-top: 5px;
    width:100%;
 
}

.sidebarGo{
        transform: translate(-443px,0px);
}
@media (max-width:768px){
   .skillContainer {
    padding: 15px;
}
.bar{
    height: 10px;
}
.bar-fill{
    width: 100%;
}
.devPic{
    display: none;
}
/*.sidebar{
    position: absolute;
    height: 100vh;
    transform: translateX(-100%);
}
.main{
    margin-left: 0;
    padding: 10px;
}
/*.menubar{
    z-index: 1100;
    position: fixed;
}
.infoContainer{
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.devinfo,.devPic{
  text-align: center;
  width: 100%;
  padding: 10px;
}
.devpic img{
    width: 80%;
    height: auto;
}
.about, .moreabout{
    font-size: 1.em;
}
.btn{
    width: 80%;
    font-size: 1em;
}*/
}


.menubar{
   
    position:absolute;
    cursor:pointer;
    top:10px;
    left:10px;
    
}
.menu{
    width: 30px;
    cursor: pointer;
    margin: 10px;
   display: block;
   
}
.cross{
    width: 30px;
    cursor: pointer;
    margin: 10px;
       display: block;
    margin-left: 199px;
}

.skillgroup h3{
    margin-left:120px;
    font-family: 'Roboto', sans-serif;
}
.skillContainer h2{

  
    margin:20px 121px;
    font-family: 'Roboto', sans-serif;
   
}
.skill{
    margin: 10px 0;
}
.skillname{
     margin-top: 5px;
    margin-left: 200px;
    font: bold;
}
.Certifications{
    padding:30px;
   
         

}
.Certifications h2{
    font-size: 28px;
    margin-bottom: 20px;
    color:black;
        margin:10px 88px;
        font-family: 'Roboto', sans-serif;

}
.cert-card{
    color:black;
    padding:20px;
margin-bottom: 15px;
border-radius: 10px;
margin:10px 88px;
}
.cert-card h3{
    font-family: 'Roboto', sans-serif;
    color:black;
}
.cert-card a{
   
    text-decoration: none;
    font-weight: bold;
      font-family: 'Poppins', sans-serif;

}
.project{
      margin:1px 88px;
        font-family: 'Roboto', sans-serif;

       
}
.p{
       font-family: 'Poppins', sans-serif;
         margin:10px 88px;


}
.projectss{
     margin:6px -1px;
        font-family: 'Roboto', sans-serif;

}
.projectContainer{
    margin:88px;

}
.projectContainer h1{font-family: 'Roboto', sans-serif;
     margin: 28px 57px;
     font-size:2em;

}


   
              